<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>CoCites</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://*.ncbi.nlm.nih.gov/pubmed*</string>
					<string>https://pubmed.ncbi.nlm.nih.gov/*</string>
					<string>https://scholar.google.com/*</string>
					<string>https://scholar.google.fr/*</string>
					<string>https://scholar.google.nl/*</string>
					<string>https://scholar.google.es/*</string>
					<string>https://scholar.google.ca/*</string>
					<string>https://scholar.google.de/*</string>
					<string>https://scholar.google.it/*</string>
					<string>https://scholar.google.jp/*</string>
					<string>https://scholar.google.no/*</string>
					<string>https://scholar.google.pt/*</string>
					<string>https://scholar.google.ru/*</string>
					<string>https://*.proxy.library.emory.edu/*</string>
					<string>http://*.ncbi.nlm.nih.gov/pubmed*</string>
					<string>http://pubmed.ncbi.nlm.nih.gov/*</string>
					<string>http://scholar.google.com/*</string>
					<string>http://scholar.google.fr/*</string>
					<string>http://scholar.google.nl/*</string>
					<string>http://scholar.google.es/*</string>
					<string>http://scholar.google.ca/*</string>
					<string>http://scholar.google.de/*</string>
					<string>http://scholar.google.it/*</string>
					<string>http://scholar.google.jp/*</string>
					<string>http://scholar.google.no/*</string>
					<string>http://scholar.google.pt/*</string>
					<string>http://scholar.google.ru/*</string>
					<string>http://*.proxy.library.emory.edu/*</string>
				</array>
				<key>Script</key>
				<string>topee-content.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://*.ncbi.nlm.nih.gov/pubmed*</string>
					<string>https://pubmed.ncbi.nlm.nih.gov/*</string>
					<string>https://scholar.google.com/*</string>
					<string>https://scholar.google.fr/*</string>
					<string>https://scholar.google.nl/*</string>
					<string>https://scholar.google.es/*</string>
					<string>https://scholar.google.ca/*</string>
					<string>https://scholar.google.de/*</string>
					<string>https://scholar.google.it/*</string>
					<string>https://scholar.google.jp/*</string>
					<string>https://scholar.google.no/*</string>
					<string>https://scholar.google.pt/*</string>
					<string>https://scholar.google.ru/*</string>
					<string>https://*.proxy.library.emory.edu/*</string>
					<string>http://*.ncbi.nlm.nih.gov/pubmed*</string>
					<string>http://pubmed.ncbi.nlm.nih.gov/*</string>
					<string>http://scholar.google.com/*</string>
					<string>http://scholar.google.fr/*</string>
					<string>http://scholar.google.nl/*</string>
					<string>http://scholar.google.es/*</string>
					<string>http://scholar.google.ca/*</string>
					<string>http://scholar.google.de/*</string>
					<string>http://scholar.google.it/*</string>
					<string>http://scholar.google.jp/*</string>
					<string>http://scholar.google.no/*</string>
					<string>http://scholar.google.pt/*</string>
					<string>http://scholar.google.ru/*</string>
					<string>http://*.proxy.library.emory.edu/*</string>
				</array>
				<key>Script</key>
				<string>jquery-3.4.1.min.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://*.ncbi.nlm.nih.gov/pubmed*</string>
					<string>https://pubmed.ncbi.nlm.nih.gov/*</string>
					<string>https://scholar.google.com/*</string>
					<string>https://scholar.google.fr/*</string>
					<string>https://scholar.google.nl/*</string>
					<string>https://scholar.google.es/*</string>
					<string>https://scholar.google.ca/*</string>
					<string>https://scholar.google.de/*</string>
					<string>https://scholar.google.it/*</string>
					<string>https://scholar.google.jp/*</string>
					<string>https://scholar.google.no/*</string>
					<string>https://scholar.google.pt/*</string>
					<string>https://scholar.google.ru/*</string>
					<string>https://*.proxy.library.emory.edu/*</string>
					<string>http://*.ncbi.nlm.nih.gov/pubmed*</string>
					<string>http://pubmed.ncbi.nlm.nih.gov/*</string>
					<string>http://scholar.google.com/*</string>
					<string>http://scholar.google.fr/*</string>
					<string>http://scholar.google.nl/*</string>
					<string>http://scholar.google.es/*</string>
					<string>http://scholar.google.ca/*</string>
					<string>http://scholar.google.de/*</string>
					<string>http://scholar.google.it/*</string>
					<string>http://scholar.google.jp/*</string>
					<string>http://scholar.google.no/*</string>
					<string>http://scholar.google.pt/*</string>
					<string>http://scholar.google.ru/*</string>
					<string>http://*.proxy.library.emory.edu/*</string>
				</array>
				<key>Script</key>
				<string>contentScript.js</string>
			</dict>
		</array>
		<key>SFSafariStyleSheet</key>
		<array>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://*.ncbi.nlm.nih.gov/pubmed*</string>
					<string>https://pubmed.ncbi.nlm.nih.gov/*</string>
					<string>https://scholar.google.com/*</string>
					<string>https://scholar.google.fr/*</string>
					<string>https://scholar.google.nl/*</string>
					<string>https://scholar.google.es/*</string>
					<string>https://scholar.google.ca/*</string>
					<string>https://scholar.google.de/*</string>
					<string>https://scholar.google.it/*</string>
					<string>https://scholar.google.jp/*</string>
					<string>https://scholar.google.no/*</string>
					<string>https://scholar.google.pt/*</string>
					<string>https://scholar.google.ru/*</string>
					<string>https://*.proxy.library.emory.edu/*</string>
					<string>http://*.ncbi.nlm.nih.gov/pubmed*</string>
					<string>http://pubmed.ncbi.nlm.nih.gov/*</string>
					<string>http://scholar.google.com/*</string>
					<string>http://scholar.google.fr/*</string>
					<string>http://scholar.google.nl/*</string>
					<string>http://scholar.google.es/*</string>
					<string>http://scholar.google.ca/*</string>
					<string>http://scholar.google.de/*</string>
					<string>http://scholar.google.it/*</string>
					<string>http://scholar.google.jp/*</string>
					<string>http://scholar.google.no/*</string>
					<string>http://scholar.google.pt/*</string>
					<string>http://scholar.google.ru/*</string>
					<string>http://*.proxy.library.emory.edu/*</string>
				</array>
				<key>Style Sheet</key>
				<string>bootstrap.min.css</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://*.ncbi.nlm.nih.gov/pubmed*</string>
					<string>https://pubmed.ncbi.nlm.nih.gov/*</string>
					<string>https://scholar.google.com/*</string>
					<string>https://scholar.google.fr/*</string>
					<string>https://scholar.google.nl/*</string>
					<string>https://scholar.google.es/*</string>
					<string>https://scholar.google.ca/*</string>
					<string>https://scholar.google.de/*</string>
					<string>https://scholar.google.it/*</string>
					<string>https://scholar.google.jp/*</string>
					<string>https://scholar.google.no/*</string>
					<string>https://scholar.google.pt/*</string>
					<string>https://scholar.google.ru/*</string>
					<string>https://*.proxy.library.emory.edu/*</string>
					<string>http://*.ncbi.nlm.nih.gov/pubmed*</string>
					<string>http://pubmed.ncbi.nlm.nih.gov/*</string>
					<string>http://scholar.google.com/*</string>
					<string>http://scholar.google.fr/*</string>
					<string>http://scholar.google.nl/*</string>
					<string>http://scholar.google.es/*</string>
					<string>http://scholar.google.ca/*</string>
					<string>http://scholar.google.de/*</string>
					<string>http://scholar.google.it/*</string>
					<string>http://scholar.google.jp/*</string>
					<string>http://scholar.google.no/*</string>
					<string>http://scholar.google.pt/*</string>
					<string>http://scholar.google.ru/*</string>
					<string>http://*.proxy.library.emory.edu/*</string>
				</array>
				<key>Style Sheet</key>
				<string>styles.css</string>
			</dict>
		</array>
		<key>SFSafariToolbarItem</key>
		<dict>
			<key>Action</key>
			<string>Command</string>
			<key>Identifier</key>
			<string>Button</string>
			<key>Image</key>
			<string>ToolbarItemIcon.pdf</string>
			<key>Label</key>
			<string>CoCites</string>
		</dict>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.webkit.org</string>
			</array>
			<key>Level</key>
			<string>All</string>
		</dict>
		<key>TopeeSafariBackgroundScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>background.js</string>
			</dict>
		</array>
	</dict>
	<key>NSHumanReadableDescription</key>
	<string>CoCites adds a one-click button in PubMed to show frequently co-cited articles</string>
</dict>
</plist>
